.App {
  text-align: center;
  min-height: 0;
  height: auto;
  margin-top: 100px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-button {
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #3399FF;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 70px;
}

.left-side, .right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side{
  margin-left: 150px;
}

.right-side {
  margin-right: 150px;
}


select, input, button, p {
  width: 400px;
  height: 50px;
  font-size: 15px;
  margin: 10px 0;
}